.container {
  max-width: 1222px;
  margin: 0 auto;
}

@media (max-width: 1242px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
header {
  width: 100%;
  margin-bottom: 62px;
  padding-top: 28.33px;
}
header .logo_wrapper {
  display: flex;
  gap: 6.35px;
}
header .logo_wrapper .logo_img {
  display: flex;
}
header .logo_wrapper .logo_text h1 {
  font-family: "Golos+Text", sans-serif;
  color: #595653;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.main {
  background: url("../images/main-bg.png");
  background-position: center top;
  padding-bottom: 118px;
  position: relative;
  z-index: 10;
}
.main .main_content {
  max-width: 542px;
  color: #313131;
  position: relative;
  z-index: 1;
}
.main .main_content .main_headline {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.main .main_content .main_headline h1 {
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
}
.main .main_content .main_headline h1:first-child {
  text-align: left;
}
.main .main_content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Golos+Text", sans-serif;
}
.main .main_content .main_buttons {
  display: flex;
  justify-content: space-between;
}
.main .main_content .main_buttons button {
  padding: 20px 49px;
  width: calc(50% - 10px);
  border-radius: 66px;
  border: none;
  background: #1f1f1f;
  color: white;
  cursor: pointer;
  font-family: "Golos+Text", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.main .main_content .main_buttons button:hover {
  background: #fbce51;
  color: #1f1f1f;
  border: none;
}
.main .main_content .main_buttons button:last-child {
  border: 2px solid #1f1f1f;
  background: rgba(255, 255, 255, 0);
  color: #1f1f1f;
}
.main .main_content .main_buttons button:last-child:hover {
  background: #1f1f1f;
  color: white;
}

@media (max-width: 1140px) {
  .main {
    background-position: right -600px bottom;
  }
}
@media (max-width: 920px) {
  .main {
    background-position: right -750px bottom;
  }
}
@media (max-width: 795px) {
  .main {
    background-position: right -830px bottom;
  }
}
@media (max-width: 699px) {
  header .logo_wrapper {
    gap: 5.5px;
  }
  header .logo_wrapper .logo_text h1 {
    font-size: 14.42px;
  }
  header .logo_wrapper .logo_img svg {
    height: 27px;
  }
  .main {
    background: url("../images/main-bg-mob.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
  }
  .main .main_content .main_buttons button {
    padding: 18px 37px;
    width: 100%;
    border-radius: 66px;
    background: #1f1f1f;
    color: white;
    font-family: "Golos+Text", sans-serif;
    font-weight: 600;
    font-size: 16px;
    max-width: 380px;
    border: none;
  }
  .main .main_content .main_buttons {
    flex-direction: column;
    gap: 14px;
  }
  .main .main_content .main_buttons button:last-child {
    background: #fff;
    opacity: 0.9;
    border: none;
  }
  .main .main_content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 650px) {
  .main .main_content .main_headline h1 {
    font-size: 42px;
  }
}
@media (max-width: 440px) {
  .main .main_content .main_headline h1 {
    font-size: 36px;
  }
  .main .main_content p {
    text-align: start;
  }
  header {
    margin-bottom: 40px;
  }
}
.running_line {
  background: #f54932;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.running_line_wrapper {
  display: flex;
  text-wrap: nowrap;
  animation: marquee 13s linear infinite;
  gap: 12px;
}
.running_line_wrapper p {
  font-size: 22px;
  color: white;
  font-weight: 400;
}

.dot {
  color: white;
  margin-left: 5px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 699px) {
  .running_line {
    height: 38px;
  }
  .running_line_wrapper p {
    font-size: 16px;
  }
}
.support {
  padding-top: 105px;
}
.support .support_wrapper {
  display: flex;
  align-items: center;
}
.support .support_wrapper h1 {
  font-size: 36px;
  color: #313131;
  max-width: 760px;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 840px) {
  .support {
    padding-top: 48px;
  }
  .support .support_wrapper {
    display: flex;
    flex-direction: column;
  }
  .support .support_wrapper h1 {
    font-size: 28px;
    color: #313131;
    text-align: center;
  }
  .support .support_wrapper h1 span:first-of-type {
    display: block;
    height: 300px;
  }
  .support .support_wrapper img {
    position: absolute;
    height: 212px;
    transform: translate(0%, 55%);
  }
}
@media (max-width: 699px) {
  .support .support_wrapper img {
    position: absolute;
    height: 212px;
    transform: translate(0%, 70%);
  }
}
@media (max-width: 411px) {
  .support .support_wrapper h1 {
    text-align: left;
  }
  .support .support_wrapper img {
    position: absolute;
    height: 212px;
    transform: translate(0%, 83%);
  }
}
.info {
  padding-top: 64px;
}
.info .info_wrapper {
  position: relative;
  display: flex;
  justify-content: end;
}
.info .info_wrapper img {
  position: absolute;
  left: -50px;
  top: -65px;
}
.info .info_wrapper .info_content {
  display: flex;
  flex-direction: column;
}
.info .info_wrapper .info_content h1 {
  font-size: 36px;
  max-width: 704px;
  color: #313131;
  line-height: 130%;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.info .info_wrapper .info_content .table {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.info .info_wrapper .info_content .table .row {
  display: flex;
  height: 40px;
  border-bottom: #d0d0d0 2px solid;
}
.info .info_wrapper .info_content .table .row td {
  padding: 15px 0;
  color: #313131;
  opacity: 0.7;
  width: 50%;
  display: flex;
  align-items: center;
  font-family: "Golos+Text", sans-serif;
}
.info .info_wrapper .info_content .table .row td .strike {
  -webkit-text-decoration: line-through red;
          text-decoration: line-through red;
  color: #313131;
  font-family: "Golos+Text", sans-serif;
  font-weight: 700;
  padding-right: 10px;
}
.info .info_wrapper .info_content .table .row td:last-child {
  opacity: 1;
  font-weight: 700;
  padding-left: 17px;
  border-left: #d0d0d0 2px solid;
}
.info .info_wrapper .info_content .table .row:last-child {
  border-bottom: none;
}

.link {
  font-family: "Golos+Text", sans-serif;
  font-size: 20px;
  color: #3057A2;
  text-decoration: none;
}

@media (max-width: 1225px) {
  .info .info_wrapper img {
    left: -150px;
  }
  .info .info_wrapper .info_content h1 {
    max-width: 550px;
    text-align: center;
    text-wrap: balance;
  }
}
@media (max-width: 1050px) {
  .info .info_wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .info .info_wrapper img {
    position: relative;
    height: 402px;
    left: 0;
    top: 0;
  }
  .info .info_wrapper .info_content h1 {
    max-width: none;
    text-align: left;
    font-size: 28px;
  }
  .info .info_wrapper .info_content .table .row {
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: auto;
    border-bottom: #d0d0d0 2px solid;
    padding: 15px 0;
  }
  .info .info_wrapper .info_content .table .row td {
    padding: 0;
    width: 100%;
  }
  .info .info_wrapper .info_content .table .row td:last-child {
    opacity: 1;
    font-weight: 700;
    padding-left: 0;
    border-left: none;
  }
}/*# sourceMappingURL=main.css.map */
